* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: #b7e7d4;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* ************* Menu Options ****************** */

.menu {
  width: 40%;
}

.menu_item {
  font-weight: 800;
  font-size: 4rem;
}

.menu_item:hover {
  color: #9dad7f;
}

.menu_item:hover::after {
  content: "";
  background: #13473c;
  display: block;
  width: 30rem;
  height: 1rem;
}

.menu_item_selected::after {
  content: "";
  background: #13473c;
  display: block;
  height: 1rem;
  width: 30rem;
}

.color_font {
  color: #9dad7f;
}

/*************** Option description ********************/

.description {
  width: 60%;
  margin-left: 2rem;
}

.description_item {
  font-family: "Belleza", sans-serif;
  font-size: 3.5rem;
}

/* .animate__animated.animate__backInRight {
  --animate-duration: 2s;
} */

:root {
  --animate-duration: 1.2s;
  --animate-delay: 0.9s;
}

/*************** Media Queries *****************/

@media screen and (max-width: 850px) {
  .main {
    display: block;
    height: auto;
    text-align: right;
  }

  .menu {
    width: 100%;
  }

  .menu_item {
    font-weight: 800;
    font-size: 3.5rem;
  }

  .menu_item:hover::after {
    content: "";
    background: #13473c;
    display: block;
    width: 2rem;
    height: 1rem;
    text-align: right;
  }

  .menu_item_selected::after {
    content: "";
    background: #13473c;
    display: block;
    height: 1rem;
    width: 2rem;
    text-align: right;
  }

  .description {
    width: 100%;
    margin-top: 2rem;
  }

  .animate__animated.animate__backInLeft {
    --animate-duration: 1.5s;
  }
}
